#!/usr/bin/env bash
set -Eeuo pipefail
LOCALS_DIR="{{.LocalsDir}}"
LOCALS=$(command -v locals)

# --- enable mkcerts ---
mkcert -install
echo "For CLI usage run"
echo "source <(locals env)"

# --- setup locals DNS ---
DNS_LISTEN="{{.DNSListen}}"
RESOLV_CONF_LOCAL="${LOCALS_DIR}/resolv.patched.conf"
DNS_PID_FILE="$HOME/.config/locals/dns.pid"

function launch_dns() {
    if [ -f "$DNS_PID_FILE" ]; then
        DNS_PID=$(cat "$DNS_PID_FILE")
        if kill -0 "$DNS_PID" 2>/dev/null; then
            echo "⚠️ locals dns is already running (PID: $DNS_PID). Skipping start."
            return
        fi
        echo "🔄 Cleaning up stale PID file from previous crash..."
        rm "$DNS_PID_FILE"
    fi
    # note fallbacks are extracted by the not yet replace /etc/resolv.conf
    sudo nohup "${LOCALS}" dns "$DNS_LISTEN" 2>&1 | sudo tee /tmp/locals-dns.log > /dev/null &
    echo $! > "$DNS_PID_FILE"
    echo "✅ locals DNS started on $DNS_LISTEN (PID: $(cat "${DNS_PID_FILE}"))"
}

function apply_dns_config_resolved() {
        echo "📡 systemd-resolved detected. Using Routing Domain setup."
        RESOLVED_CONF="/etc/systemd/resolved.conf.d/locals.conf"
        sudo mkdir -p /etc/systemd/resolved.conf.d/
        sudo tee "$RESOLVED_CONF" > /dev/null <<EOF
[Resolve]
DNS={{.DNSListen}}
Domains=~locals
EOF

        sudo systemctl restart systemd-resolved
        echo "🔒 systemd-resolved configured to route .locals to {{.DNSListen}}"
}

function apply_dns_config_bindmount() {
    if mountpoint -q "/etc/resolv.conf"; then
        echo "⚠️ /etc/resolv.conf already replaced. Skipping."
        return
    fi

    echo "📡 systemd-resolved not found. Falling back to /etc/resolv.conf bind-mount."
    cat <<EOF > "$RESOLV_CONF_LOCAL"
nameserver {{.DNSListen}}
options edns0 trust-ad
EOF

    sudo mount --bind "$RESOLV_CONF_LOCAL" /etc/resolv.conf
    echo "🔒 /etc/resolv.conf mounted to redirect DNS queries to locals dns first"
}

function apply_dns_config() {
    if [ -d "/run/systemd/resolve" ] || systemctl is-active --quiet systemd-resolved; then
       apply_dns_config_resolved
       return
    fi
    apply_dns_config_bindmount
}

launch_dns
apply_dns_config

# --- stop locals web proxy ---
WEB_PID_FILE="${LOCALS_DIR}/web.pid"
RULES_DIR="${LOCALS_DIR}/web"

function launch_web() {
    mkdir -p "$RULES_DIR"
    if [ -f "$WEB_PID_FILE" ]; then
        OLD_PID=$(cat "$WEB_PID_FILE")
        if kill -0 "$OLD_PID" 2>/dev/null; then
            echo "⚠️ locals web is already running (PID: $OLD_PID)."
            return
        fi
    fi
    sudo nohup "${LOCALS}" web "${RULES_DIR}" 2>&1 | sudo tee /tmp/locals-web.log > /dev/null &
    echo $! > "$WEB_PID_FILE"
    echo "✅ Web proxy active on :443 (PID: $(cat $WEB_PID_FILE))"
}

launch_web
